.submit {
    margin-top: 30px;
    flex: auto;
    margin-bottom: 0 auto; 
    background-color: #DCC969;
    color: brown; 
    border: none; 
    padding: 10px;
}

.submit:hover {
    background-color:#A65168; 
    color: white;
}

.submit:after {
    display: none; 
}

.input {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 20px;
}

.form {
    margin-right: 20px;
    border: 1px solid #DCC969; 
    background-color: #DCC969;
    font-weight: bold; 
    color: brown;
    padding: 10px;
    align-content: center;
    align-items: center;
}

.form-title {
    align-content: center; 
}

.column {
    float: left;
    width: 50%;
  }
  
  .form:after {
    content: "";
    display: table;
    clear: both;
  }

  .hide {
    display: none;
  }
