html, body {
  color: white;
  height: 100%;
  width: 100%;
}

body {
  background-image: linear-gradient(to bottom, #473b3c 0%, #b6acaa 100%);
  background-repeat: no repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
}

.topnav {
  overflow: hidden;
}

.topnav a {
  float: right;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #DCC969;
  font-weight: bold;
}

.intro {
  text-align: center;
}

.hello {
  font-size: 30px;
}

.beg {
  font-family: 'Bellefair', serif;
}

h2 {
  font-family: 'Almendra SC';
  text-align: center;
}

.dragon {
  display: flex; 
  justify-content: center; 
  align-items: center;
}

.bot {
  text-align: center;
  color: #A65168;
  padding: 5px;
  font-size: 35px;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.D20Container {
  width: 400px;
  padding: 50px;
  border: 1px solid black;
  background-color: white;
  box-shadow: 0 15px 35px rgba(50, 50, 50, 0.2);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  margin-top: 25px;
}

.D6Intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.D6Container {
  width: 400px;
  padding: 50px;
  border: 1px solid black;
  background-color: white;
  box-shadow: 0 15px 35px rgba(50, 50, 50, 0.2);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  margin-top: 25px;
}

.D6Container img {
  width: 50%;
  height: auto;
  display: block;
}

.D6ButtonContainer {
  text-align: center;

}

.D6Wrapper {
  width: 90%;
  display: flex;
  justify-content: space-around;
}

.shake {
  animation: shake 0.5s infinite;
}
@keyframes shake {
  0% {
    transform: rotate(8deg);
  }
  50% {
    transform: rotate(-8deg);
  }
  100% {
    transform: rotate(8deg);
  }
}

#D6Button {
  background-color: black;
  border: none;
  outline: none;
  color: white;
  padding: 15px 0;
  cursor: pointer;
  width: 150px;
  letter-spacing: 1px;
  border-radius: 5px;
  align-items: center;
  margin-top: 25px;
  transition: background-color 0.5s, color 0.5s;
}

#D6Button:hover {
  background-color: white;
  color: black;
}

#D20Button {
  background-color: black;
  border: none;
  outline: none;
  color: white;
  padding: 15px 0;
  cursor: pointer;
  width: 150px;
  letter-spacing: 1px;
  border-radius: 5px;
  align-items: center;
  margin-top: 25px;
  transition: background-color 0.5s, color 0.5s;
}

#D20Button:hover {
  background-color: white;
  color: black;
}

.pycode {
  text-align: center;
  font-size: 15px;
}

.fade-out {
  opacity: 0;
  transition: opacity 1s;
}

/*Fading in effect of the text for mad libs*/
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  text-align: center;
  animation: fadeIn 1s ease-in;
}

.submit {
  display: flex;
  justify-items: center;
} 

.witchpicture {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
